p {
	text-align: center;
}

}
 ct_info{
 	font-size: 50px;
 	text-align: center;
 	margin-top: 70px;
 }
p {
	font-size: 50px;
}
.phone{
	padding-top: 80px;
}
.email {
	padding-top: 80px;
}
.about{
	padding-top: 80px
	
}